html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}
h6 {
  color: aquamarine;
  font-size: 16px;

}
h3 {
  font-size: 21px;
  font-weight: normal;
  color: gray;
}
#copyright {
  text-align: right;
}
